.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--accent-color3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.modal-close-btn-icon {
  fill: #000000;
  transition: fill 250ms var(--transition);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color);
  }
}

/* modal form */
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--transition);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
.modal-form-label {
  margin-bottom: 10px;
}
.madal-form-label-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.icon-modal-form {
  top: 50%;
  left: 12px;
  position: absolute;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-form-input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-form-textarea {
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  &::before {
    content: '';
    cursor: pointer;
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--accent-text-color);
    border-radius: 4px;
    background-color: #ffffff;
    margin-right: 8.4px;

    .modal-input-checkbox:focus + & {
      border: 2px solid var(--accent-color);
    }

    .modal-input-checkbox:checked + & {
      background-color: var(--accent-color);
      background-image: url(../images/check.svg);
      background-size: contain;
      background-origin: border-box;
      border: 2px solid var(--accent-color);
    }
  }
}

.modal-checkbox-label-link {
  color: var(--accent-color);
  font-size: inherit;
}

.modal-input-checkbox {
  top: 79%;
  left: 43px;
}

.modal-form-btn {
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  letter-spacing: 0.06em;
  color: var(--accent-color3);
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
